h1 {
    color: rgb(0, 0, 0);
    align-self: center;
}


body {
    background-color: rgba(255, 255, 255, 0.674);
}

#googletitle {
    font-family: sans-serif;
    letter-spacing: -9px;
    text-shadow: -1px 1px 0 #000,
                         1px 1px 0 #000,
                         1px -1px 0 #000,
                         -1px -1px 0 #000;
    font-size: 65px;
}

#Gblue {  
	color: rgb(0, 130, 255); 
} 

#ored {  
	color: red; 
} 

#oyellow {  
	color: rgba(255, 255, 0, 0.927) ;
} 

#gblue {  
	color: rgb(0, 130, 255); 
} 

#lgreen { 
	color: green; 
} 

#ered {  
	color: red; 
} 

#googleSearchBarForm {
    padding: 1px;
    background-color: #ffffff;
    width: 400px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font: 16px system-ui;
    border: 1px solid rgba(91, 85, 85, 0.539);
}

#searchbar {
  all: unset;
  color: #000000;
  height: 100%;
  width: 100%;
  padding: 10px;
}

#searchButton {
    padding: 10px;
}